In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from IPython.core.display import display, HTML
import pandas as pd
from funcoes import trata_tabela_rodadas_liga
from classes import CapturaDados

ModuleNotFoundError: No module named 'classes'

dados para agregar no dataframe, escanteios, endereço da logo ultimos resultados

In [ ]:
def trata_tabela_liga(html: str, dicionario_colunas={
    'Cl': 'posicao',
    'Equipe': 'equipe',
    'MP': 'jogos',	
    'V': 'vitorias',	
    'E': 'empates',	
    'D': 'derrotas',	
    'GP': 'gols_marcados',	
    'GC': 'gols_sofridos',	
    'GD': 'saldo_gols',	
    'Pt': 'pontos',	
    'Últimos 5': 'ultimos_5'
}, 
                      colunas_desconsideradas=['xG', 'xGA', 'xGD', 'xGD/90', 
                                               'Público', 'Artilheiro da equipe', 
                                               'Goleiro', 'Notas']):
  '''
  Leitura e limpeza da tabela da liga

  Keywords arguments
  html: Html contendo as informações da tabela
  dicionario_colunas: Dicionário com a descrição da coluna padronizada
  colunas_desconsideradas: Lista de colunas que não serão analidas

  return: Nota tabela com as informações para análise
  '''
  tabela = pd.read_html(html)[0]
  tabela.rename(dicionario_colunas, axis=1, inplace=True)
  tabela.drop(colunas_desconsideradas, axis=1, inplace=True)
  return tabela

In [ ]:
dados = trata_tabela_liga('https://fbref.com/pt/comps/11/Serie-A-Estatisticas')

In [7]:
dados.head()

,posicao,equipe,jogos,vitorias,empates,derrotas,gols_marcados,gols_sofridos,saldo_gols,pontos,ultimos_5
0,1,Inter,24,17,5,2,60,24,36,56,W W W W W
1,2,Milan,24,16,4,4,47,29,18,52,W W L L W
2,3,Juventus,23,13,7,3,45,20,25,46,W W L W D
3,4,Atalanta,24,13,7,4,55,31,24,46,L D W W W
4,5,Roma,24,13,5,6,48,37,11,44,W L W D L

In [9]:
dados.to_csv('../dados/italiano_serie_a_20_21/tabela_liga.csv', index=False)

In [13]:
arquivo = open('../dados/italiano_serie_a_20_21/test.csv', 'w')

In [15]:
dados = pd.DataFrame({'um': 1, 'dois': 2}, index=[0, 1])

In [16]:
dados

   um  dois
0   1     2
1   1     2

In [27]:
dados_2 = pd.DataFrame({'um': 3, 'dois': 4}, index=[0, 1])

In [28]:
dados_2

   um  dois
0   3     4
1   3     4

In [30]:
pd.concat([dados, dados_2], ignore_index=False)

   um  dois
0   1     2
1   1     2
0   3     4
1   3     4

In [35]:
dic = {'time': ['a', '1'], 'time2': ['b', '2']}

In [36]:
for time, nome in dic.items():
    print(time, nome[0], nome[1])

time a 1
time2 b 2